<% provide(:title, "Log in") %>

<h1 class="text-center">Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  <% puts "on the new view" %>

  <%= link_to "Log in", openjub_path, :class => "button", :method => :get, :target => "_blank" %>

  <script>

  //get the callback from openJUB
    window.addEventListener("message", receiveMessage, false);

    function post(data) {

      $.ajax({
        url: "/login",
        type: "POST",
        data: JSON.parse(data),
        success: function(){console.log("submitted")}
      });

    }

    function receiveMessage(event) {

      console.log(event);
      post(event.data);
      console.log("posted");
  
    }

  </script>

  <!-- We need to distinguish between users that login for the first time and everyone else -->
  <p>New user? <%= link_to "Being here for the first time? Sign up here!", signup_path %></p>


  </div>
</div>