<div class="container">
  <div class="col-xs-12 col-md-12">
  	<div class="thumbnail thumbnail-container">
			<h1>About us</h1>
			<p>The Jacobs Market is brought to you by Felix Schmoll, Akbar Oripov and Nick Chang, with the indispensable efforts and advises of Tom Wiesing and Leonhard Kuboschek. The developers of Jacobs Market realized a need for an easy-to-use, fast and full-featured online marketplace, in an effort to reduce the amount of sales spams our fellow students receive. We wish you a wonderful experience browsing the Jacobs Market. Please do not hesitate to message us about your questions or concerns using the contact information provided below.</p>
			<p>Best, </br>The JakeUp Team</p>

			<strong><font size="5">Authorized Representative:&nbsp;</font></strong>
			<em style=""><br>Nick Siyuan Chang<br>Mailbox 67, College Ring 6<br>28759, Bremen<br>Germany<br>mokui@live.cn</em>
		</div>
	</div>
</div>