<h1>About us</h1>
<p>The Jacobs Market is kindly brought to you by Felix Ekkehard Schmoll, Akbar Zayniddinovich Oripov and Nick Siyuan Chang, with the indispensable efforts and advises of Angelina Frank. The designers and developers of our team realized a need for an easy-to-use, fast and full-featured online marketplace and bulletin board, in an effort to reduce the amount of spam-emails that our fellow students receive. We wish you a wonderful experience browsing the Jacobs Market. Please do not hesitate to tell us your questions or concerns using the forms or emails provided below. </p>
<p>Best, </br>The JakeUp Team</p>

<strong><font size="5">Authorized Representative:&nbsp;</font></strong>
<em style=""><br>Nick Siyuan Chang<br>Mailbox 67, College Ring 6<br>28759, Bremen<br>Germany<br>mokui@live.cn</em>