<div class="container">
  <div class="col-xs-12 col-md-12">
    <div class="thumbnail thumbnail-container">
      <h1>Support</h1>
      <p>If you encounter any problems or have questions, please feel free to write to Nick Chang: </p><p><strong>s.chang@jacobs-university.de</strong></p>
    </div>
  </div>
</div>

