<div>
	<h3><%= @item.name%></h3>
	<div>
	<%= @item.description %>
	<%= @item.price %>
	</div>
	<button />
<% $price = @item.price %>
<%=link_to "Checkout", new_transaction_path, class: "button"%>
</div>
