<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container">
  <div>
	<div class="col-xs-9 col-md-9">
		<h1 class="text-center">Transactions</h1>
		<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
		<h2 class="mbs">New Transaction</h2>
		<%= form_tag transactions_path do%>
		  <p>Please enter your payment details:</p>
		  <div id="dropin"></div>
   		  <%=submit_tag "Pay #{$price}", class: "button mt1" %>
		<%end%>
		</div>
	</div>
  </div>
</div>